/* Search Field in Header */

a.search-toggle,
a.search-toggle-off {
	color: white;
	display: block;
	font-size: 1.5em;
	position: fixed;
	right: 5vw;
	top: 0.8em;
	z-index: 3;
}

a.search-toggle-off {
	color: orangered;
	display: none;
}

#search:target a.search-toggle { display: none; }
#search:target a.search-toggle-off { display: block; }

#header-search-form {
	background-color: rgba(0,0,0,0.5);
	height: 3em;
	left: 0;
	display: block;
	position: fixed;
	top: 4.25em;
	visibility: hidden;
	width: 100vw;
}

#search:target #header-search-form {
	visibility: visible;
}

#header-search-form input[type=text] {
	appearance: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: white;
	font: 300 1.5em 'Oswald', sans-serif;
	padding: 0 5vw;
	text-transform: uppercase;
}

#header-search-form input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
#header-search-form input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#header-search-form input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#header-search-form input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: white;
}

@media ( min-width: 800px ) {
	
	#header-search-form {
		top: 5em;
	}
	
	a.search-toggle,
	a.search-toggle-off,
	#header-search-form {
		position: absolute;
	}
	
}